.calculator {
  margin: 0 auto;
  display: flex;
  width: 50%;
  flex-flow: column wrap;
}

.inputline {
  width: 100%;
}

.keypad {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}
